* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
}

.Books {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Books .container {
  width: 600px;
  border: 1px solid rgb(155, 140, 140);
  padding: 20px;
}

.Books .container .title {
  text-align: center;
  margin-bottom: 20px;
}

.Books .container .tablehr {
  max-width: 100px;
  margin: 20px auto;
  border: none;
  height: 2px;
  border-radius: 20px;
  background-color: gray;
}

.Books .container .inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 0 auto;
}

.addBook form input {
  padding: 10px;
}

.Books .container .inputs input {
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid rgb(221, 221, 221);
}

.addBook .add {
  width: 22%;
  margin-left: 78%;
  padding: 10px;
}

.Books .container .inputs .add {
  width: 100px;
  text-align: center;
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
  margin-left: 201px;
}

.Books .container .inputs .add:hover {
  background-color: rgb(187, 187, 187);
}

.Books .container .booksList {
  border-collapse: collapse;
  width: 100%;
}

.Books .container .booksList .task {
  display: flex;
  position: relative;
  margin-bottom: 5px;
}

.Books .container .booksList .task td {
  padding: 7px 0;
}

.Books .container .booksList .task .del {
  justify-items: flex-end;
  position: absolute;
  right: 0;
  height: 100%;
  padding: 0 20px;
  border: 1px solid black;
  background-color: rgba(135, 152, 168, 0.699);
  text-transform: uppercase;
}

.Books .container .booksList .task .del:hover {
  background-color: rgb(187, 187, 187);
}

.Books .container .booksList .task:nth-child(odd) {
  background-color: #f2f2f2;
}

.Books .container .booksList .task:nth-child(odd):hover {
  background-color: rgb(216, 216, 216);
}

.navbar {
  border: 1px solid black;
  height: 99px;
  margin: 16px;
}

.navbar h2 {
  margin-left: 22px;
}

.navbar ul {
  margin-right: 22px;
}

.navbar ul li {
  font-size: 25px;
  padding: 20px;
}

.navbar ul li:nth-last-child(n+2) {
  border-right: 1px solid black;
}

.navbar ul li:hover {
  color: red;
}

.contact {
  display: none;
  flex-direction: column;
  align-items: center;
}

.contact p {
  font-size: 37px;
  row-gap: 32px;
}

.contact ul {
  margin-top: 20px;
}

.contact h1 {
  padding-bottom: 80px;
}

footer {
  border: 1px solid black;
  height: 42px;
  position: fixed;
  padding: 10px 10px 0 10px;
  bottom: 0;
  width: 100%;
}

footer h5 {
  margin: 7px 0 0 31px;
}

.addBook {
  display: none;
  flex-direction: column;
  align-items: center;
}

.addBook form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 30%;
}
